body {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
}

a {
  color: black;
}

footer {
  background-color: antiquewhite;
  flex: 0 1 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.contents {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 52px;
  gap: 32px;
}

.moves-panel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.moves-header {
  font-size: 48px;
}

.moves-buttons {
  display: flex;
  gap: 20px;
}

.results {
  font-size: 24px;
}
